---
layout: default
---
<div id="home" class="page-content wc-container">
	<div class="posts">
  		{% for post in site.posts limit:10 %}
  			<div class="post">
    			<h3 class="post-title">
			      <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">
			        {{ post.title }}
			      </a>
    			</h3>

    			<span class="post-date">{{ post.date | date_to_string }}</span>    			
  				<p>
	  				{{ post.description }}	
  				</p>
  				<p>
  					<a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}" title="{{ post.title}}">
  						more...
					</a>
  				</p>
  			</div>
  		{% endfor %}
	</div>
	<div class="post-footer">
		<div class="column-full"><a href="{{ '/blog' | prepend: site.baseurl | prepend: site.url }}">more stuff...</a></div>
	</div>
</div>