<h6>Few more links</h6>
<ul class="menu">
    <li><a href="{{ '/me' | prepend: site.baseurl | prepend: site.url }}">me?</a></li>
    <li><a href="{{ '/blog' | prepend: site.baseurl | prepend: site.url }}">old stuff</a></li>
    <li><a href="{{ '/music' | prepend: site.baseurl | prepend: site.url }}">songs4u</a></li>
</ul>		