<ul>
	<li>
		<a href="{{ '/me' | prepend: site.baseurl | prepend: site.url }}">me?</a><span>/</span>
	</li>
	<li>
		<a href="{{ '/blog' | prepend: site.baseurl | prepend: site.url }}">old stuff</a><span>/</span>
	</li>
	<li>
		<a href="{{ '/music' | prepend: site.baseurl | prepend: site.url }}">songs4u</a><span>/</span>
	</li>
</ul>