<h6>(don't) follow me</h6>

<ul class="social-media">


    {% if site.harmony.social.twitter %}
    <li>
        <a title="{{ site.harmony.social.twitter }} on Twitter" 
            href="https://twitter.com/{{ site.harmony.social.twitter }}" 
            class="twitter wc-img-replace" target="_blank">Twitter</a>
    </li>   
    {% endif %}

    {% if site.harmony.social.github %}
    <li>
        <a title="{{ site.harmony.social.github }} on Github" 
            href="https://github.com/{{ site.harmony.social.github }}" 
            class="github wc-img-replace" target="_blank">Github</a>
    </li>
    {% endif %} 

    {% if site.harmony.social.facebook %}
    <li>
        <a title="{{ site.harmony.social.facebook }} on Facebook" 
            href="https://facebook.com/{{ site.harmony.social.facebook }}" 
            class="facebook wc-img-replace" target="_blank">Facebook</a>
    </li>
    {% endif %}

    {% if site.harmony.social.gplus %}
    <li>
        <a title="{{ site.harmony.social.gplus }} on Google Plus" 
            href="https://plus.google.com/{{ site.harmony.social.gplus }}" 
            class="google wc-img-replace" target="_blank">Google</a>
    </li>
    {% endif %}

    {% if site.harmony.social.dribble %}
    <li>
        <a title="{{ site.harmony.social.dribble }} on Dribble" 
            href="https://dribbble.com/{{ site.harmony.social.dribble }}" 
            class="dribble wc-img-replace" target="_blank">Dribble</a>
    </li> 
    {% endif %}

    {% if site.harmony.social.pinterest %}
    <li>
        <a title="{{ site.harmony.social.pinterest }} on Pinterest" 
            href="https://www.pinterest.com/{{ site.harmony.social.pinterest }}" 
            class="pinterest wc-img-replace" target="_blank">Pinterest</a>
    </li> 
    {% endif %}

</ul>