---
---

// Import reset
@import "partials/reset";

// Import colors, fonts etc...
@import "partials/variables";

// Import custom mixins
@import "partials/mixins";

// Import layout mixin
@import "partials/layout";

// Import syntax
@import "partials/syntax";

// Import tweaks
@import "partials/tweaks";


/* --------------------------------

 Primary style

-------------------------------- */

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  @include box-sizing(border-box);
}

body {
  font: {
    size: 100%;
    family: $primary-font; // variables inside partials > _variables.scss
  }
}

.wc-container {
    width: 90%;
    max-width: $M; // see breakpoints in _sass/partials/_layout.scss
    margin: 0 auto;

    &::after { /* Clearfix */
        content: '';
        display: table;
        clear: both;
    }
}

.wc-img-replace { /* replace text with a background-image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background-repeat: no-repeat;
  background-position: center center;
}

/* --------------------------------

 Small Typography

--------------------------------- */

h1, h2, h3, h4, h5, h6 {
  line-height: 1.6;
}

h1 {
  // mobile first
  @include font-size(20px);
  @include MQ(M) {
    @include font-size(36px);
  }
}

h2 {
  // mobile first
  @include font-size(18px);
  @include MQ(M) {
    @include font-size(31px);
  }
}

h3 {
  @include font-size(15px);
  @include MQ(M) {
    @include font-size(30px);
  }
}

h4 {
  @include font-size(16px);
  @include MQ(M) {
    @include font-size(24px);
  }
}

h5 {
  @include font-size(14px);
  @include MQ(M) {
    @include font-size(22px);
  }
}

h6 {
  @include font-size(14px);
  @include MQ(M) {
    @include font-size(19px);
  }
}

p {
  line-height: 1.6;
  @include font-size(14px);
  @include MQ(M) {
    @include font-size(18px);
  }
}

a {
  background: transparent;
}

a:active, a:hover, a:focus {
  outline: 0;
}

img {
  border: 0;
  display: block;
  max-width: 100%;
  height: auto;
}


hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
  height: 0;
}

strong { font-weight: 600; }

/* --------------------------------

 Theme base

--------------------------------- */

// default

a.default-anchor {

  text-decoration: none;
  border-bottom: 1px solid transparent;
  color: $base-08;
  &:hover, &:active, &:focus {
    @include transition(border-bottom-color .2s);
    border-bottom-color: $base-08;
  }

}

div.default-page-content {
  h1, h2, h3, h4, h5, h6 { color: $base-00; }
}

body {
  color: $color-2;
}

a {
  @extend .default-anchor;
}

header.main-header, footer.main-footer {
  p,address {
    @include font-size(12px);
    @include MQ(M) {
      @include font-size(14px);
    }
  }
}

header.main-header {
  color: $base-00;
  border-top: 5px $base-00 solid;

  h1, h2 { text-align: center; color: inherit;}
  a {
    color: inherit;
    &:hover, &:active, &:focus {
      border-bottom-color: transparent;
    }
  }

  ul {
    width: 100%;
    text-align: center;
    padding: 15px;
  }
  ul li {
    display: inline-block;
    position:relative;
    color: $base-08;
  }

  ul li span {
    float: left;
    display: inline-block;
    width: 15px;
  }

  ul li a {
    display:inline-block;
    color: inherit;
    border-bottom: 2px transparent solid;
    padding-bottom:5px;
    @include transition(all, .2s);
    @include MQ(M) {
      @include font-size(18px);
    }
    &:hover, &:focus, &:active {
      border-bottom-color: inherit;
    }
  }
}

footer.main-footer {
  background-color: $base-00;
  color: $base-07;
  .column {
    float:left;
    @include column(1);

    @include MQ(M) {
      &.one, &.two {
        @include column(.5);
        display: block;
      }
    }
  }

  h6 {
      position: relative;
      padding: 10px 0;
      text-transform: uppercase;
  }
  h6::before {
      content: '';
      position: absolute;
      top: 0;
      width: 2em;
      height: 2px;
      background: $base-07;
      overflow: hidden;
  }

  ul.menu {
    padding: 0 0 1em 0;
    li {
      @include font-size(12px);
      line-height: 1.6;
      display: inline;
      padding-right: 10px;
      @include MQ(M) {
        @include font-size(16px);
      }
    }
  }

  p.disclaimer {
    text-align: center;
  }

 ul.social-media {
  text-align:left;
  padding: 0 0 10px 0;
  li {
    display:inline-block;
  }
  li > a {
    width: 32px;
    height: 32px;
    background: $base-07;
    background-image: url("./images/socials-icons.svg");
    background-size: 224px 64px;
    border-radius: 0.25em;
    @include transition(background-color 0.2s);
    border-bottom-color: transparent;

    &:hover {
      background-color: $base-08;
    }
  }

  li a.twitter {
    background-position: 0 0;
      &:hover {
        background-position: 0 -32px;
    }
  }

  li a.github {
    background-position: -32px 0;
    &:hover {
      background-position: -32px -32px;
    }
  }

  li a.facebook {
    background-position: -64px 0;
    &:hover {
      background-position: -64px -32px;
    }
  }

  li a.dribble {
    background-position: -96px 0;
    &:hover {
      background-position: -96px -32px;
    }
  }

  li a.google {
    background-position: -128px 0;
    &:hover {
      background-position: -128px -32px;
    }
  }

  li a.pinterest {
      background-position: -196px 0;
      &:hover {
        background-position: -196px -32px;
      }
    }
  }
}

.no-svg footer.main-footer ul.social-media li a {
  width: 32px;
    height: 32px;
    background-color: $base-07;
    background-image: url("./images/socials-icons.png");
    background-size: 224px 64px;
    border-radius: 0.25em;
    @include transition(background-color 0.2s);
    border-bottom-color: transparent;

    &:hover {
      background-color: $base-08;
    }
}

div.page-content {
  @extend .default-page-content;
  min-height: initial;

  @include MQ(M) {
    min-height: 400px;
  }
}

div.page-content {
  ul {
    padding: 0 0 1em 0;
    li {
      @include font-size(14px);
      color: $color-2;
      line-height: 1.6;
      background: url(./images/bullet.svg);
      background-repeat: no-repeat;
      background-position: 0 6px;
      padding: 0 0 5px 15px;
      margin-left: 0;
    }
    @include MQ(M){
      li {
        @include font-size(16px);
        line-height: 1.5;
        background-position: 0 7px;
      }
    }
  }
  ol {
    @include font-size(12px);
    // padding-top: 1em;
    padding-bottom: 1em;
    list-style: decimal;
    margin-left: 0;
    li {
      color: $color-2;
      line-height: 1.6;
      padding: 0 0 5px 0px;
      margin-left: 2em;
      position:relative;
    }
    @include MQ(M){
      @include font-size(16px);
      li {
        line-height: 1.5;
        background-position: 0 7px;
      }
    }
  }

  dl {
    padding-bottom: 1em;
    dt, dd {
      @include font-size(12px);
      line-height: 1.5;
    }

    dt {
      font-weight: bold;
      padding-bottom: 5px;
      padding-top: 20px;
    }

    dt:first-child {
      padding-top: 0px;
    }

    dd {
      padding-left: 10px;
    }

    @include MQ(M) {
      dt, dd {
        @include font-size(16px);
        line-height: 1.6;
      }
    }
  }

  img {
    padding: 1em 0;
  }

  p {
    margin-bottom: 1em;
  }

  h1, h2, h3, h4, h5, h6 {
    padding-bottom: 5px;
  }
}

.no-svg div.page-content ul li {
  background: url(./images/bullet.png);
  @include font-size(13px);
  color: $color-2;
  line-height: 1.6;
  background-repeat: no-repeat;
  background-position: 0 6px;
  padding: 0 0 5px 15px;
  margin-left: 0;
}

// Theme base 01
body.theme-base-01 {

  a {
    @extend .default-anchor;
  }

  footer.main-footer {
    background-color: $base-01;
    color: $base-07;
  }

  header.main-header {
    color: $base-01;
    ul li {
      color: $base-08;
    }
  }

  div.page-content {
    h1, h2, h3, h4, h5, h6 { color: $base-01; }
  }


}

/* --------------------------------

 Main Header

--------------------------------- */

header.main-header {
  padding: 1em 0;
  @include MQ(M) { padding: 2em 0; }
}
footer.main-footer {
  padding: 1em 0;
  @include MQ(M) { padding: 2em 0; }
}
.page-content {
  padding: 1em 0;
  @include MQ(M) { padding: 2em 0; }
}


/* ---------------------------------

  Blockquote

---------------------------------- */
blockquote {
  padding: .5em 1em;
  margin: .8em 0;
  color: #7a7a7a;
  border-left: .25em solid #e5e5e5;
}
blockquote p:last-child {
  margin-bottom: 0;
}
@include MQ(M) {
  blockquote {
    padding-right: 5em;
    padding-left: 1.25em;
  }
}

/* --------------------------------

Code snippets

--------------------------------- */
code, pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}
code {
  padding: .25em .5em;
  font-size: 85%;
  color: $base-08;
  background-color: rgba($base-08, .1);
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1em;
  padding: 1em;
  @include font-size(12px);
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: $color-white;
  border: 1px solid $base-05;
  code {
    padding: 0;
    font-size: 100%;
    color: inherit;
    background-color: transparent;
  }

  @include MQ(M) {
    @include font-size(14px);
  }
}

.highlight {
  margin-bottom: 1em;
  margin-top: 1em;
  pre {
    margin-bottom: 0;
  }
}

/* Gist via GitHub Pages */
.gist .gist-file {
  font-family: Menlo, Monaco, "Courier New", monospace !important;
  margin: 1em 0;
}
.gist .markdown-body {
  padding: 15px;
}
.gist pre {
  padding: 0;
  background-color: transparent;
}
.gist .gist-file .gist-data {
  font-size: 12px;
  @include MQ(M) {
    font-size: 14px !important;
  }
  line-height: 1.4;
}
.gist code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
}

/* --------------------------------

Post styles

--------------------------------- */

div.posts {

  .div.post {

  }
}
div.post {
  padding-top: .5em;
  padding-bottom: 1em;
  border-bottom: 1px $base-05 solid;
  @include MQ(M) {

    padding-bottom: 2em;
  }

  &:last-child {
    border-bottom: none;
  }
}
span.post-date {
  line-height: 1.6;
  letter-spacing: 2px;
  text-transform: uppercase;
  @include font-size(12px);
  overflow: hidden;
  display: block;
  padding: 1em 0;

  @include MQ(M) {
    @include font-size(16px);
  }
}

/* --------------------------------

 Related post

--------------------------------- */
.related {
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: 1px solid $base-05;

  @include MQ(M) {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}
.related-posts {
  padding-left: 0;
  list-style: none;
}
.related-posts h3 {
  margin-top: 0;
}
.related-posts li small {
  font-size: 75%;
  color: #999;
}
.related-posts li a:hover {
  color: #268bd2;
  text-decoration: none;
}
.related-posts li a:hover small {
  color: inherit;
}

/* --------------------------------

 Post footer

--------------------------------- */
.post-footer {

  border-top: 1px solid $base-05;
  border-bottom: 1px solid $base-05;
  height: 40px;
  display: table;
  width: 100%;
  position: relative;

  @include MQ(M) {
    height: 80px;
  }

  .column-1, .column-2, .column-3, .column-full {
    padding-top: 10px;
    @include MQ(M) {
      padding-top: 30px;
    }
    span { color: $base-04; }
    a,span {
      @include font-size(12px);
      @include MQ(M) {
        @include font-size(16px);
      }
    }
  }

  .column-1 {
    text-align: left;
    @include column(.3333);
  }
  .column-2 {
    text-align: center;
    @include column(.3333);
  }
  .column-3 {
    text-align: right;
    @include column(.3333);
  }
  .column-full {
    text-align: center;
    width: 100%;
  }
}

/* -----------------------------------

  Table

----------------------------------- */
table {
  margin: 1em 0;
  width: 100%;
  border: 1px solid $base-04;
  border-collapse: collapse;
}
td,
th {
  padding: .25em .5em;
  border: 1px solid $base-04;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: $base-05;
}
