<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.harmony.name }}{% endif %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{% if page.meta_description %}{{ page.meta_description }}{% else %}{{ site.harmony.meta_description }}{% endif %}">
        <link rel="canonical"
        href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

        <!-- Harmony styles -->
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/main.css">
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/ytv.css">

        <!-- Modernizr js -->
        <script async src="{{ site.baseurl }}/assets/js/modernizr.js"></script>

        <!-- IE Fixes -->
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="{{ site.harmony.basetheme }}">
        <header class="main-header">
            <div class="wc-container">
                <img id="me" src="{{ '/assets/css/images/me.png' | prepend: site.baseurl | prepend: site.url }}">
                <h1><a href="{{ site.baseurl }}/">{{ site.harmony.name }}</a></h1>
                <h2>{{ site.harmony.description }}</h2>
                {% include header-links.html %}
            </div>
        </header>
        {{ content }}
        <footer class="main-footer">
            <div class="wc-container">
                <div class="column one">
                    {% include footer-links.html %}
                </div>
                <div class="column two">
                    {% include social.html %}
                </div>
            </div>
            <p class="wc-container disclaimer">
                {% include footer.html %}
            </p>
        </footer>
        <script type="text/javascript">
          /* To avoid render blocking css */
          var cb = function() {
            var l = document.createElement('link'); l.rel = 'stylesheet';
            l.href = 'http://fonts.googleapis.com/css?family=Ubuntu+Mono&subset=latin';
            var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
          };
          var raf = requestAnimationFrame || mozRequestAnimationFrame ||
              webkitRequestAnimationFrame || msRequestAnimationFrame;
          if (raf) raf(cb);
          else window.addEventListener('load', cb);
        </script>
        <!-- jQuery -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <!-- When no internet load JQuery from local -->
        <script>window.jQuery || document.write('<script src="{{ site.baseurl }}/assets/js/jquery.min.js"><\/script>')</script>
        <!-- Site js -->
        <script src="{{ site.baseurl }}/assets/js/ytv.js"></script>
        <script src="{{ site.baseurl }}/assets/js/all.js"></script>
        <!-- Google analytics  -->
        {% include google-analytics.html %}
    </body>
</html>
