---
layout: default
---

<div class="page-content wc-container">

	<div class="post">
		<h1>{{ page.title }}</h1>
		<span class="post-date">{{ page.date | date_to_string }}</span>
		<div class="post">
			{{ content }}
		</div>
		<span class="post-date">
			<strong>Tags:</strong>
			{% for category in page.categories %}
				#{{ category }}
			{% endfor %}
	</div>


	{% if site.related_posts and site.related_posts.length > 0 %}
	<div class="related">
		<h4>related stuff</h2>
		<ul class="posts">
		    {% for post in site.related_posts limit:3 %}
		    <li>
			  <span>{{ post.date | date_to_string }} &raquo;</span>
			  <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a>
		    </li>
		    {% endfor %}
		</ul>
	</div>
	{% endif %}

	<div class="post-footer">
		<div class="column-1">
			{% if page.previous %}
				<a href="{{page.previous.url | prepend: site.baseurl | prepend: site.url }}"><< older</a>
			{% else %}
				<span><< older</span>
			{% endif %}
		</div>
		<div class="column-2"><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }} ">i'm coming home</a></div>
		<div class="column-3">
			{% if page.next %}
				<a href="{{ page.next.url | prepend: site.baseurl | prepend: site.url }}">newer >></a>
			{% else %}
				<span>newer >></span>
			{% endif %}
		</div>
	</div>
</div>
